/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@300;400;500;600;700&family=Playfair+Display:wght@600;700&display=swap');

body {
    font-family: 'Kantumruy Pro', sans-serif;
    background-color: #FAF6F0; /* ពណ៌ Cream/Warm Nude ស្រទន់ */
    color: #4A3E3D;
}

.font-serif-title {
    font-family: 'Playfair Display', serif;
}

.modal-backdrop {
    background-color: rgba(43, 33, 24, 0.6);
    backdrop-filter: blur(6px);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #F3E9DC;
}
::-webkit-scrollbar-thumb {
    background: #C6A382;
    border-radius: 10px;
}